<%content_for :page_title do%>
	The providers we support
<%end%>

<% @providers.each do |provider| %>
	<fieldset>
		<div class="widget">
      		<div class="head">
		  		<h5 class="iCoverflow"><%= provider.name%></h5>
		  	</div>
		  	<div class="rowElem noborder">
		    	<%= mdrender.render(provider.description).html_safe%>
    		</div>
    	</div>
    </fieldset>
<% end %>

<br />
