<fieldset>
	<div class="widget">
	    <div class="head">
	      <h5 class="iCoverflow">Create a download</h5>
	    </div>

		<%= render 'form' %>

		<%= link_to 'Back', downloads_path , :class => "btn btn-primary"%>
	</div>
</fieldset>