/* ===== 14x14 icons ===== */


.iAbacus { background: url(/assets/icons/dark/abacus-a0eabf7c1b4b5610fc06952637bd9ce3.png) no-repeat 12px; }
.iAdd { background: url(/assets/icons/dark/add-37f6d0e8e03e0bfdd66099ad0c2f220b.png) no-repeat 12px; }
.iAddressBook { background: url(/assets/icons/dark/addressBook-045db0d27fc522e8a27f36d5becae5ee.png) no-repeat 12px; }
.iAdminUser { background: url(/assets/icons/dark/adminUser-e9c0fecbd0c301ee09c906d02dd9f3f1.png) no-repeat 12px; }
.iAdminUser2 { background: url(/assets/icons/dark/adminUser2-8315af923e7ef38f87e0d8c5c20d7184.png) no-repeat 12px; }
.iAirplane { background: url(/assets/icons/dark/airplane-b3644fa9aac1704447fa8b57db04018d.png) no-repeat 12px; }
.iAlarm { background: url(/assets/icons/dark/alarm-021059dfdaf9a182a7949f2a52af39b6.png) no-repeat 12px; }
.iAlert { background: url(/assets/icons/dark/alert-e4dd5a84e24a5ef0deac9c1286c012dc.png) no-repeat 12px; }
.iAlert2 { background: url(/assets/icons/dark/alert2-4173ce286cc8d371853f2cba78c3c251.png) no-repeat 12px; }
.iAndroid { background: url(/assets/icons/dark/android-b3d013c783610736500f25e105e1ded8.png) no-repeat 12px; }
.iArchive { background: url(/assets/icons/dark/archive-93ab5eadd111d972ffb608b73624e3a4.png) no-repeat 12px; }
.iArrowDown { background: url(/assets/icons/dark/arrowDown-a2fcfb79771f96878f1284db833063f4.png) no-repeat 12px; }
.iArrowLeft { background: url(/assets/icons/dark/arrowLeft-cc1c94c1deaddec377df1f53b167fa8b.png) no-repeat 12px; }
.iArrowRight { background: url(/assets/icons/dark/arrowRight-0851618c2b70029c954721d0f1679ece.png) no-repeat 12px; }
.iArrowUp { background: url(/assets/icons/dark/arrowUp-4c39254322ca057bece9784d12e3ec9d.png) no-repeat 12px; }

.iBag { background: url(/assets/icons/dark/bag-259dd1b2fcf1400c437452a1cd35ea08.png) no-repeat 12px; }
.iBaloons { background: url(/assets/icons/dark/baloons-72d85b11f2ec97ce9b013c345ff32a88.png) no-repeat 12px; }
.iBandaid { background: url(/assets/icons/dark/bandaid-0ebeb89d76ad04f27a3fd085a3363a39.png) no-repeat 12px; }
.iBasket { background: url(/assets/icons/dark/basket-c1f352f0d3a1f0dee4a98fd22c5a50b4.png) no-repeat 12px; }
.iBasket2 { background: url(/assets/icons/dark/basket2-6c8488357f270af0d7c82c794e0b8039.png) no-repeat 12px; }
.iBattery { background: url(/assets/icons/dark/battery-cd57568265cfadef06b9ebca455b7739.png) no-repeat 12px; }
.iBatteryFull { background: url(/assets/icons/dark/batteryFull-045b50c54a3d54bfd2a3080f601191bb.png) no-repeat 12px; }
.iBell { background: url(/assets/icons/dark/bell-13d19e84db4188ed484b622f7c583e8b.png) no-repeat 12px; }
.iBell2 { background: url(/assets/icons/dark/bell2-15e0cd806699d65399f5e461ae3b55ec.png) no-repeat 12px; }
.iBigBrush { background: url(/assets/icons/dark/bigBrush-8cab3f1469e91c01dab6b8b243ceecdc.png) no-repeat 12px; }
.iBlackberry { background: url(/assets/icons/dark/blackberry-072258679ccb0dabbfe4611510ceb8c4.png) no-repeat 12px; }
.iBlock { background: url(/assets/icons/dark/block-32f782224f149c9f90196e4fef9d0bb5.png) no-repeat 12px; }
.iBlocks { background: url(/assets/icons/dark/blocks-781b4c019b1ecfee588a8d2729055297.png) no-repeat 12px; }
.iBluetooth { background: url(/assets/icons/dark/bluetooth-3485b47b89bec9d59aa77d7f4a8646c6.png) no-repeat 12px; }
.iBluetooth2 { background: url(/assets/icons/dark/bluetooth2-7ac2c36392b8ba22cb80ceedf730ac7e.png) no-repeat 12px; }
.iBluray { background: url(/assets/icons/dark/bluray-c4ebe314f7b929fe93e6435933339c42.png) no-repeat 12px; }
.iBook { background: url(/assets/icons/dark/book-2217903988707306157082775c301f43.png) no-repeat 12px; }
.iBookLarge { background: url(/assets/icons/dark/bookLarge-b488b9428b8ca85667cf47e57ca399ae.png) no-repeat 12px; }
.iBooks { background: url(/assets/icons/dark/books-ab1ab9d1418bd80cb02db1aab6631bee.png) no-repeat 12px; }
.iBright { background: url(/assets/icons/dark/bright-c043ecce6e45cf559c13036768e15446.png) no-repeat 12px; }
.iBubbles { background: url(/assets/icons/dark/bubbles-6ccdfdfd3116aeb08bd0a18cb43b9605.png) no-repeat 12px; }
.iBubbles2 { background: url(/assets/icons/dark/bubbles2-db330078a9ac35db95e14efb5fa999f6.png) no-repeat 12px; }
.iBuilding { background: url(/assets/icons/dark/building-86cdf8a76bc1d51d0da667acb7f8bb6f.png) no-repeat 12px; }
.iBullsEye { background: url(/assets/icons/dark/bullsEye-ff2dc91ea418722c6372d9f829bf2033.png) no-repeat 12px; }
.iBuzz { background: url(/assets/icons/dark/buzz-a21db86737406ddd99783e2c205d5558.png) no-repeat 12px; }

.iCalc { background: url(/assets/icons/dark/calc-bc42b2883be0f80ea36138f071d3e956.png) no-repeat 12px; }
.iCamera { background: url(/assets/icons/dark/camera-285e1d7c125a3f65f80fd9dfa8e7911d.png) no-repeat 12px; }
.iCamera2 { background: url(/assets/icons/dark/camera2-c8127a44e97644440e2e10ae8cc1054c.png) no-repeat 12px; }
.iCar { background: url(/assets/icons/dark/car-fd62bb27471e6dbe3239a1d2e3fb363b.png) no-repeat 12px; }
.iCart { background: url(/assets/icons/dark/cart-c3cada4cf620cb6eefcbf90a7cffde96.png) no-repeat 12px; }
.iCart2 { background: url(/assets/icons/dark/cart2-d332493086547b0bcb657cf5a5211480.png) no-repeat 12px; }
.iCart3 { background: url(/assets/icons/dark/cart3-5381494dfa068df6f16ea22773c60ab8.png) no-repeat 12px; }
.iCart4 { background: url(/assets/icons/dark/cart4-d2a8758fa1917d8a798ec6169702ad47.png) no-repeat 12px; }
.iCashRegister { background: url(/assets/icons/dark/cashRegister-e628669e1ccf3f63eab4a1ad5021f318.png) no-repeat 12px; }
.iCassette { background: url(/assets/icons/dark/cassette-8a052b57f65f91ce1176665f6f28fcb6.png) no-repeat 12px; }
.iCat { background: url(/assets/icons/dark/cat-b78caf69e944cf3e4dbd9d9833510cde.png) no-repeat 12px; }
.iCd { background: url(/assets/icons/dark/cd-dfd16e02b1be0210e3307a1e7b431437.png) no-repeat 12px; }
.iChair { background: url(/assets/icons/dark/chair-3b63d0da0386ebced0649c5849f92a45.png) no-repeat 12px; }
.iChart { background: url(/assets/icons/dark/chart-b5a6d30a12e977fafdfba4429217fd45.png) no-repeat 12px; }
.iChart2 { background: url(/assets/icons/dark/chart2-8b8dde7f0cf6870b68134cd1facf3c6f.png) no-repeat 12px; }
.iChart3 { background: url(/assets/icons/dark/chart3-6709587141a6ccdd8ca4ab2d1a428b5d.png) no-repeat 12px; }
.iChart4 { background: url(/assets/icons/dark/chart4-a83fdca4565203e8d72308ae4d41d514.png) no-repeat 12px; }
.iChart5 { background: url(/assets/icons/dark/chart5-679d7a914bcf96439589e3e722a72e1e.png) no-repeat 12px; }
.iChart6 { background: url(/assets/icons/dark/chart6-ea5057ea6b5bc5eab475999b33e64713.png) no-repeat 12px; }
.iChart7 { background: url(/assets/icons/dark/chart7-a54a3b0d8b35f48ab9dee653264795ba.png) no-repeat 12px; }
.iChart8 { background: url(/assets/icons/dark/chart8-29b82b55892421f95e0e0575ad759b80.png) no-repeat 12px; }
.iCheck { background: url(/assets/icons/dark/check-93a1fb1016bcebd0d7ed355c985d1016.png) no-repeat 12px; }
.iChemical { background: url(/assets/icons/dark/chemical-fb3484e487f433c17edffc7a5614ea42.png) no-repeat 12px; }
.iChrome { background: url(/assets/icons/dark/chrome-81464544901e6ffbfbc977a1aef6d04f.png) no-repeat 12px; }
.iClipboard { background: url(/assets/icons/dark/clipboard-5ddb79f18f6a19182a54cd458e62d61f.png) no-repeat 12px; }
.iClock { background: url(/assets/icons/dark/clock-e5e722121c53443efe47915683dec257.png) no-repeat 12px; }
.iClose { background: url(/assets/icons/dark/close-fb3a0c9a363e6a10082015d9b19bed55.png) no-repeat 12px; }
.iCloud { background: url(/assets/icons/dark/cloud-aa2a0e06b1c7fe30f2ad08b705f6fcbd.png) no-repeat 12px; }
.iCloudDownload { background: url(/assets/icons/dark/cloudDownload-349e8bd81126c1ac5bc46edd7c7e7aad.png) no-repeat 12px; }
.iCloudUpload { background: url(/assets/icons/dark/cloudUpload-6a6e48bcd979b950a865c25cf618b2f2.png) no-repeat 12px; }
.iCog { background: url(/assets/icons/dark/cog-79d7ab74753cf82f71d840ebbdd7ae8b.png) no-repeat 12px; }
.iCog2 { background: url(/assets/icons/dark/cog2-daee59a0a8a4a02b0b34ec557581b653.png) no-repeat 12px; }
.iCog3 { background: url(/assets/icons/dark/cog3-fe79e1d743ed4bf16e6970070c05320c.png) no-repeat 12px; }
.iCog4 { background: url(/assets/icons/dark/cog4-118468313f21c930015109a06b25eea2.png) no-repeat 12px; }
.iCompanies { background: url(/assets/icons/dark/companies-0b3f247ee027acbaf27c8d1eb4708bef.png) no-repeat 12px; }
.iComputer { background: url(/assets/icons/dark/computer-a2028b2a3b32f8503de8415dfe683114.png) no-repeat 12px; }
.iCoverflow { background: url(/assets/icons/dark/coverflow-86a5a41b9f238783d00b8846a2c337f8.png) no-repeat 12px; }
.iCreate { background: url(/assets/icons/dark/create-357dd05d0850bf26034b80406dac2e2a.png) no-repeat 12px; }
.iCup { background: url(/assets/icons/dark/cup-1c0766c24189642354547c92a54d4392.png) no-repeat 12px; }
.iCut { background: url(/assets/icons/dark/cut-14ac5cd8f9ba5809dbe59a5bff326927.png) no-repeat 12px; }

.iDayCalendar { background: url(/assets/icons/dark/dayCalendar-dee62cc5442711a9e336a44bc0d0472b.png) no-repeat 12px; }
.iDelicious { background: url(/assets/icons/dark/delicious-4eb3f07e7248ec889bd0241012b989cf.png) no-repeat 12px; }
.iDenied { background: url(/assets/icons/dark/denied-8d23d8ce15b850cb6e6720a266fa0c38.png) no-repeat 12px; }
.iDialog { background: url(/assets/icons/dark/dialog-ddb304e61af1b74e4b582b0dc20f53b1.png) no-repeat 12px; }
.iDigg { background: url(/assets/icons/dark/digg-e554e37b6419c33f495dc620d32f5b64.png) no-repeat 12px; }
.iDigg2 { background: url(/assets/icons/dark/digg2-ebfadea8fd245829d0d9bb975ef48053.png) no-repeat 12px; }
.iDoc { background: url(/assets/icons/dark/doc-d66eab5936e260298fb1b3a8b11c555b.png) no-repeat 12px; }
.iDocs { background: url(/assets/icons/dark/docs-92d52988d078afaae68a5fc7d94ffc51.png) no-repeat 12px; }
.iDownload { background: url(/assets/icons/dark/download-c35eb62aa4372a2e72ebfe2a174c5dcd.png) no-repeat 12px; }
.iDownload2 { background: url(/assets/icons/dark/download2-0590b5ec347cac9cccada8247f374b23.png) no-repeat 12px; }
.iDownload3 { background: url(/assets/icons/dark/download3-8ca2be0683cebc95c8432985c043e867.png) no-repeat 12px; }
.iDribbble { background: url(/assets/icons/dark/dribbble-63853087249d1179c976a5228ea340f5.png) no-repeat 12px; }
.iDribbble2 { background: url(/assets/icons/dark/dribbble2-2cbbd3d97a63be73ee458413feaae8db.png) no-repeat 12px; }
.iDrive { background: url(/assets/icons/dark/drive-62ab424b3cb1d50adf998ae0e20346f9.png) no-repeat 12px; }
.iDropbox { background: url(/assets/icons/dark/dropbox-e5dfe52bab85134ebdc655299d0bda02.png) no-repeat 12px; }
.iDropper { background: url(/assets/icons/dark/dropper-acd6c2be7c2c47904834a87fd3b78012.png) no-repeat 12px; }
.iDrupal { background: url(/assets/icons/dark/drupal-0e09f29b91afd0f0f3d4a83c553e888b.png) no-repeat 12px; }
.iDvd { background: url(/assets/icons/dark/dvd-adc4efb9db6f4af8711cc8a2bdc630bc.png) no-repeat 12px; }

.iElectricity { background: url(/assets/icons/dark/electricity-4fcc3dbfecd274e12d907461e8884635.png) no-repeat 12px; }
.iElectroPlug { background: url(/assets/icons/dark/electroPlug-40da729595692675ca46037ef6208bb4.png) no-repeat 12px; }
.iExcelDoc { background: url(/assets/icons/dark/excelDoc-d82de258cd740cfb9066504b31fc5ed8.png) no-repeat 12px; }
.iExit { background: url(/assets/icons/dark/exit-58a99972f5d66ab4bb33382e95aebfed.png) no-repeat 12px; }
.iExpengine { background: url(/assets/icons/dark/expengine-030b15c36900be4ead7806e3597b0c73.png) no-repeat 12px; }
.iExpose { background: url(/assets/icons/dark/expose-6a6935ede7a04510ddbd10c16f418c2b.png) no-repeat 12px; }

.iFacebook { background: url(/assets/icons/dark/facebook-a7ee14f7e0ceb2865ff9155d0c9bbab3.png) no-repeat 12px; }
.iFax { background: url(/assets/icons/dark/fax-dd20a9aac1c7b36197b2aa1d64466b94.png) no-repeat 12px; }
.iFemaleContour { background: url(/assets/icons/dark/femaleContour-cf97d010854eaef3f412dad18a4ad936.png) no-repeat 12px; }
.iFemaleSymbol { background: url(/assets/icons/dark/femaleSymbol-3a10f318614d4457131b541e63744471.png) no-repeat 12px; }
.iFiles { background: url(/assets/icons/dark/files-f4a1385d7156942e2054d06b5a7881ed.png) no-repeat 12px; }
.iFilmCamera { background: url(/assets/icons/dark/filmCamera-25b8e15263925b8d30d58240bf7a69da.png) no-repeat 12px; }
.iFilmStrip { background: url(/assets/icons/dark/filmStrip-711022d51e958b94e111f00b38dce246.png) no-repeat 12px; }
.iFilmStrip2 { background: url(/assets/icons/dark/filmStrip2-0819fe5a2ac85b709b33dd1d61ad61d2.png) no-repeat 12px; }
.iFirefox { background: url(/assets/icons/dark/firefox-1f4ac44326dc277fb64a7f16975e92e2.png) no-repeat 12px; }
.iFlag { background: url(/assets/icons/dark/flag-af47d4a401fa6ab8a54d310cab2139b8.png) no-repeat 12px; }
.iFlag2 { background: url(/assets/icons/dark/flag2-369ec315ac458eac18f1543fef07195b.png) no-repeat 12px; }
.iFlagFinished { background: url(/assets/icons/dark/flagFinished-33c89757e7a25562c8b1f96d524732a0.png) no-repeat 12px; }
.iFolder { background: url(/assets/icons/dark/folder-77fa693f30351c3f20c3ddc15aea5596.png) no-repeat 12px; }
.iFootprints { background: url(/assets/icons/dark/footprints-5ab46b785ede0fda13d604f6d13c53b5.png) no-repeat 12px; }
.iFountainPen { background: url(/assets/icons/dark/fountainPen-71699b3336908d88e87d14063ffb490f.png) no-repeat 12px; }
.iFrames { background: url(/assets/icons/dark/frames-5b65dab25f2ea95e9f4850077fc895ea.png) no-repeat 12px; }
.iFull { background: url(/assets/icons/dark/full-e5db21ca9b7598a7052a6ecb631884d9.png) no-repeat 12px; }
.iFull2 { background: url(/assets/icons/dark/full2-908cb2f96626a4c492a89d858fa1557f.png) no-repeat 12px; }
.iFullscreen { background: url(/assets/icons/dark/fullscreen-71ffc1722d3af81a65ec2b23838c04f9.png) no-repeat 12px; }

.iGlobe { background: url(/assets/icons/dark/globe-127f1d3fbd4b5191e63a739dfd1f77f5.png) no-repeat 12px; }
.iGlobe2 { background: url(/assets/icons/dark/globe2-fd03f10be6be832b4892232f37f1b05f.png) no-repeat 12px; }
.iGmaps { background: url(/assets/icons/dark/gmaps-f07de68a1df52a9e772639d3d03e0ba2.png) no-repeat 12px; }
.iGoBack { background: url(/assets/icons/dark/goBack-84f724aaa066d125a9a63b30f3eb441c.png) no-repeat 12px; }
.iGoFull { background: url(/assets/icons/dark/goFull-8b2d2ac90798e5358a4eaf862f1c2239.png) no-repeat 12px; }
.iGraph { background: url(/assets/icons/dark/graph-7520561c86eaac55df4bc23cbd77e50b.png) no-repeat 12px; }

.iHeart { background: url(/assets/icons/dark/heart-7965307adc298020675571713e51564d.png) no-repeat 12px; }
.iHd { background: url(/assets/icons/dark/hd-44d6a3a951030e78838cfe549b236453.png) no-repeat 12px; }
.iHd2 { background: url(/assets/icons/dark/hd2-645765d5cad86489a96eb9ec388a0d9e.png) no-repeat 12px; }
.iHd3 { background: url(/assets/icons/dark/hd3-3337dc01de1f1ff8464d21fff931938d.png) no-repeat 12px; }
.iHeadphones { background: url(/assets/icons/dark/headphones-708b60b16f880f72505c8fbbc69c7d94.png) no-repeat 12px; }
.iHelp { background: url(/assets/icons/dark/help-cd889f4bd441b207a5f07f2f25db0a62.png) no-repeat 12px; }
.iHome { background: url(/assets/icons/dark/home-a129c4b4bf3fcacc699349019dff3b15.png) no-repeat 12px; }
.iHome2 { background: url(/assets/icons/dark/home2-9d4e1a47e1bc4ea14e8bb5b7cd4b684b.png) no-repeat 12px; }

.iIcecream { background: url(/assets/icons/dark/icecream-f90cb4fd2393423e9cc5e0b1f4d74fb1.png) no-repeat 12px; }
.iIchat { background: url(/assets/icons/dark/ichat-2ad372df1b478f03a066be59f5098fd1.png) no-repeat 12px; }
.iImage { background: url(/assets/icons/dark/image-aa4942947c04febc2e9860818a906fd4.png) no-repeat 12px; }
.iImage2 { background: url(/assets/icons/dark/image2-f469c90182492f013568791585958d94.png) no-repeat 12px; }
.iImageList { background: url(/assets/icons/dark/imageList-f48c97333897597b09e4baa5218f393b.png) no-repeat 12px; }
.iImages { background: url(/assets/icons/dark/images-f3ed72634328b6e0417f44a3d8800c69.png) no-repeat 12px; }
.iImages2 { background: url(/assets/icons/dark/images2-8eda4e880c2c3d262835f8d93552fc31.png) no-repeat 12px; }
.iImagesList { background: url(/assets/icons/dark/imagesList-60cebe36742974f6421a9596b53ccb51.png) no-repeat 12px; }
.iInbox { background: url(/assets/icons/dark/inbox-f7b475dc3e2fd62157c254355277a5d4.png) no-repeat 12px; }
.iInbox2 { background: url(/assets/icons/dark/inbox2-b83a573bfa825c453be1d7db6700cf57.png) no-repeat 12px; }
.iIncoming { background: url(/assets/icons/dark/incoming-841d5622924f2dadc6258b0c561849d8.png) no-repeat 12px; }
.iInfo { background: url(/assets/icons/dark/info-ee073672d6835227f72d7f76ccd19fa8.png) no-repeat 12px; }
.iIpad { background: url(/assets/icons/dark/ipad-cabf5b9d3beca4aacb695a534561f55c.png) no-repeat 12px; }
.iIphone { background: url(/assets/icons/dark/iphone-757ad24e2ea839b71509b87e39394b83.png) no-repeat 12px; }
.iIpodClassic { background: url(/assets/icons/dark/ipodClassic-d2498d9fc8c89102aae814a0c3e9c8e3.png) no-repeat 12px; }
.iIpodNano { background: url(/assets/icons/dark/ipodNano-f2488b8b75bfb01e57e2659a0e710afb.png) no-repeat 12px; }

.iJoomla { background: url(/assets/icons/dark/joomla-62cbd83d8843505f9609c970e36420c4.png) no-repeat 12px; }

.iKey { background: url(/assets/icons/dark/key-b71435ca6f7eb3b03062b9f9aa9f8086.png) no-repeat 12px; }

.iLadyPurse { background: url(/assets/icons/dark/ladyPurse-e8534fd4f2e6808dccca1ff5a6ab0565.png) no-repeat 12px; }
.iLamp { background: url(/assets/icons/dark/lamp-0ac24bf8f813d8f3138a0c4982fe31c4.png) no-repeat 12px; }
.iLaptop { background: url(/assets/icons/dark/laptop-b0706ed9f9be8c1fbf329a6ce9f73d6c.png) no-repeat 12px; }
.iLastFM { background: url(/assets/icons/dark/lastFM-8dd46eb16acad9f90c2d89b7c7bbc41b.png) no-repeat 12px; }
.iLemonadeStand { background: url(/assets/icons/dark/lemonadeStand-7a26a8e4d82a7d126258c0b51cb72a7e.png) no-repeat 12px; }
.iLightBulb { background: url(/assets/icons/dark/lightBulb-deccf963810b9d12285818df32089459.png) no-repeat 12px; }
.iLike { background: url(/assets/icons/dark/like-36a8e0334093c6747c20aaac293dd14d.png) no-repeat 12px; }
.iLink { background: url(/assets/icons/dark/link-0525ec0bd596852be282094054e44e58.png) no-repeat 12px; }
.iLink2 { background: url(/assets/icons/dark/link2-f55c262c8a804b62d9006a7ead2d6945.png) no-repeat 12px; }
.iLinux { background: url(/assets/icons/dark/linux-17246791d678ac44ba53265ffcde80ac.png) no-repeat 12px; }
.iList { background: url(/assets/icons/dark/list-e70f1b6aafa513d62b0a5fd213599ca4.png) no-repeat 12px; }
.iLoading { background: url(/assets/icons/dark/loading-f67348e5e82901110ae6ec73a9ed13fb.png) no-repeat 12px; }
.iLogoff { background: url(/assets/icons/dark/logoff-d157454b7a47095277f3858dffa221de.png) no-repeat 12px; }
.iLocked { background: url(/assets/icons/dark/locked-5bf832c63231569c7a6648fa98a24408.png) no-repeat 12px; }
.iLocked2 { background: url(/assets/icons/dark/locked2-d2695dd29a4f73d9c18472ca750c80bb.png) no-repeat 12px; }

.iMacos { background: url(/assets/icons/dark/macos-98374478f4872fc796bce497b0b4423b.png) no-repeat 12px; }
.iMagicMouse { background: url(/assets/icons/dark/magicMouse-456037ecf629be79f046f99f0af86014.png) no-repeat 12px; }
.iMagnify { background: url(/assets/icons/dark/magnify-7ca93d41cb5e98b9faab7bb1500a423f.png) no-repeat 12px; }
.iMail { background: url(/assets/icons/dark/mail-2cad9cc086d7c25da0830c2792fc5b0e.png) no-repeat 12px; }
.iMaleContour { background: url(/assets/icons/dark/maleContour-63cf29bed9c4595097cd34ed5db22463.png) no-repeat 12px; }
.iMaleSymbol { background: url(/assets/icons/dark/maleSymbol-e9e07cb3ced18f50f7c86deb68cdc414.png) no-repeat 12px; }
.iMap { background: url(/assets/icons/dark/map-50216b64e1103b4efb8b5d42c3b8cf11.png) no-repeat 12px; }
.iMedicalCase { background: url(/assets/icons/dark/medicalCase-60f61f306ed4ac82826877f06c67eefc.png) no-repeat 12px; }
.iMegaphone { background: url(/assets/icons/dark/megaphone-af845df98e11b9c11f3fd0da439eb599.png) no-repeat 12px; }
.iMicrophone { background: url(/assets/icons/dark/microphone-6de188ed690a891cd7c1997f6d9575ed.png) no-repeat 12px; }
.iMightyMouse { background: url(/assets/icons/dark/mightyMouse-2aa5729ef7c0dab0d65ad6bc1d79fde4.png) no-repeat 12px; }
.iMobile { background: url(/assets/icons/dark/mobile-76b1f3ac18450b72e132bbd754fbaae3.png) no-repeat 12px; }
.iMobyPicture { background: url(/assets/icons/dark/mobyPicture-50a3abb00100abad7091afefec12aa59.png) no-repeat 12px; }
.iMoney { background: url(/assets/icons/dark/money-5cbdb480be36dd57d5a35edf29d23ea7.png) no-repeat 12px; }
.iMoney2 { background: url(/assets/icons/dark/money2-5fb3ea3e1748606953bb6908ed27526b.png) no-repeat 12px; }
.iMonitor { background: url(/assets/icons/dark/monitor-9dc5774a80a280f1ba3c623a403508d8.png) no-repeat 12px; }
.iMonthCalendar { background: url(/assets/icons/dark/monthCalendar-27a50f8df34638bb2f6c2a7b37563750.png) no-repeat 12px; }
.iMouse { background: url(/assets/icons/dark/mouse-71277224245ddbf66abc1afd891678ca.png) no-repeat 12px; }
.iMusic { background: url(/assets/icons/dark/music-1dc8d28d5c30c18f40155e579c533bda.png) no-repeat 12px; }
.iMyspace { background: url(/assets/icons/dark/myspace-df023f2c86ec6af19f9f73cbe8002c9b.png) no-repeat 12px; }

.iNotebook { background: url(/assets/icons/dark/notebook-4a383fed93785e85ce3fe115d8f10096.png) no-repeat 12px; }

.iOutgoing { background: url(/assets/icons/dark/outgoing-9bb8eb330e3cf94df14c88015944dd7e.png) no-repeat 12px; }

.iPacman { background: url(/assets/icons/dark/pacman-bd9d996ddd08ab8081a477bc25729393.png) no-repeat 12px; }
.iPaintBrush { background: url(/assets/icons/dark/paintBrush-f80804dab10feb5ee7a96bd6fe166882.png) no-repeat 12px; }
.iPants { background: url(/assets/icons/dark/pants-891b5c89ea8ead7cde86f8d3e07d028c.png) no-repeat 12px; }
.iPaperclip { background: url(/assets/icons/dark/paperclip-74f2aa0bed2da0fda42b2fa4534c0b22.png) no-repeat 12px; }
.iPaypal { background: url(/assets/icons/dark/paypal-3966ea4f8b74d82cb0101b5ddbeef7e3.png) no-repeat 12px; }
.iPaypal2 { background: url(/assets/icons/dark/paypal2-37389b439e9b8500433fa785953dfdf1.png) no-repeat 12px; }
.iPaypal3 { background: url(/assets/icons/dark/paypal3-22ac0b5a0f20eda462453c9cd45a5f87.png) no-repeat 12px; }
.iPdfDoc { background: url(/assets/icons/dark/pdfDoc-742df3f9d12f81b81153012a4478999a.png) no-repeat 12px; }
.iPencil { background: url(/assets/icons/dark/pencil-685684b1b0eade81b5262bb0430fc188.png) no-repeat 12px; }
.iPhone { background: url(/assets/icons/dark/phone-c71d574ee7487dcc577a0c8d36ec8b74.png) no-repeat 12px; }
.iPhone2 { background: url(/assets/icons/dark/phone2-a35c5228c7d36ba63583fff79b43fd36.png) no-repeat 12px; }
.iPhone3 { background: url(/assets/icons/dark/phone3-289dddaf37a819f5a1b02d34818f5204.png) no-repeat 12px; }
.iPhotos { background: url(/assets/icons/dark/photos-c6caa668e21491e1f27c156f088eca94.png) no-repeat 12px; }
.iPiggyBank { background: url(/assets/icons/dark/piggyBank-63474a053838a571a6eb0aad84187e93.png) no-repeat 12px; }
.iPin { background: url(/assets/icons/dark/pin-6dcbf22e104a19435abb7e0a38968e95.png) no-repeat 12px; }
.iPlaneSuitcase { background: url(/assets/icons/dark/planeSuitcase-0e11a7382e7b6cfdba1a3cd80f08afdb.png) no-repeat 12px; }
.iPlay { background: url(/assets/icons/dark/play-35b1430d2dd928a6da49973655051457.png) no-repeat 12px; }
.iPlay2 { background: url(/assets/icons/dark/play2-faa09fcd9ad6d9591b413c0ae207f390.png) no-repeat 12px; }
.iPlixi { background: url(/assets/icons/dark/plixi-dfeed01744eeb43c46a3d2ac49915463.png) no-repeat 12px; }
.iPodium { background: url(/assets/icons/dark/podium-28b300a39a9fa5c9aa8b37f1ada6d16b.png) no-repeat 12px; }
.iPostcard { background: url(/assets/icons/dark/postcard-65a26ee84802ca4aaee06120626737cb.png) no-repeat 12px; }
.iPower { background: url(/assets/icons/dark/power-6126b65ceef2cf77b420625dff70850e.png) no-repeat 12px; }
.iPowerBattery { background: url(/assets/icons/dark/powerBattery-4720e22e1528541a61eb5e9cb31739a0.png) no-repeat 12px; }
.iPpDoc { background: url(/assets/icons/dark/ppDoc-0a8f10757fda29dfee67659bf7a1b5cd.png) no-repeat 12px; }
.iPresentation { background: url(/assets/icons/dark/presentation-a091f287ceb18bfe5527e29cd6e3466e.png) no-repeat 12px; }
.iPreview { background: url(/assets/icons/dark/preview-7040a048990fe9d529869c40bec98ac4.png) no-repeat 12px; }
.iPriceTag { background: url(/assets/icons/dark/pricetag.png) no-repeat 12px; }
.iPriceTags { background: url(/assets/icons/dark/priceTags-e0adbed1557274e0ae8f3c68bc076c14.png) no-repeat 12px; }
.iPrinter { background: url(/assets/icons/dark/printer-d96f6f1b70705055e2aaeecc18fd9385.png) no-repeat 12px; }

.iRadio { background: url(/assets/icons/dark/radio-1378a724ca2d0b48c45a720bc717d468.png) no-repeat 12px; }
.iRecord { background: url(/assets/icons/dark/record-29257e936b43213cdd869b187b9b27c0.png) no-repeat 12px; }
.iRecycle { background: url(/assets/icons/dark/recycle-4ae29fb0a9aca67b4e3d07c7b1398ac2.png) no-repeat 12px; }
.iRefresh { background: url(/assets/icons/dark/refresh-193bd932c9571321da66ac73db7bf964.png) no-repeat 12px; }
.iRefresh2 { background: url(/assets/icons/dark/refresh2-ff9efd70f525eff0cc6c6f0c1a03cf03.png) no-repeat 12px; }
.iRefresh3 { background: url(/assets/icons/dark/refresh3-7da859c6d1354616ab19d147651d8381.png) no-repeat 12px; }
.iRefresh4 { background: url(/assets/icons/dark/refresh4-9c249d39a4632498ffba65f474fbf12c.png) no-repeat 12px; }
.iRepeat { background: url(/assets/icons/dark/repeat-2f793db766aed370485fe9e504ba02d3.png) no-repeat 12px; }
.iRobot { background: url(/assets/icons/dark/robot-39203d42fb776a7f956a59778a81cfa0.png) no-repeat 12px; }
.iRss { background: url(/assets/icons/dark/iRss.png) no-repeat 12px; }
.iRuler { background: url(/assets/icons/dark/ruler-9717a33b67640a7fcab7149589608d0f.png) no-repeat 12px; }
.iRuler2 { background: url(/assets/icons/dark/ruler2-bb70fc2db3d05f128199bf72579c33a8.png) no-repeat 12px; }
.iRunningMan { background: url(/assets/icons/dark/runningMan-c38b513d2ab6022f0f57fa97e78ffd2f.png) no-repeat 12px; }

.iSafari { background: url(/assets/icons/dark/safari-a2fe5fa0e7372e43d09371dcb701ab88.png) no-repeat 12px; }
.iScanLabel { background: url(/assets/icons/dark/scanLabel-418644755161a7ecc7b0c56934b894ff.png) no-repeat 12px; }
.iSd { background: url(/assets/icons/dark/sd-c60e02bc14a7548318dcb4e26b1cc9c3.png) no-repeat 12px; }
.iSd2 { background: url(/assets/icons/dark/sd2-cbf27664ec58a43ab5cbd2913b2e2412.png) no-repeat 12px; }
.iSd3 { background: url(/assets/icons/dark/sd3-e31da6af4e78bf3b2ff7041513c6dc26.png) no-repeat 12px; }
.iSettings { background: url(/assets/icons/dark/settings-137c283bb8e2cb9a940cf7eea45eb4b4.png) no-repeat 12px; }
.iSettings2 { background: url(/assets/icons/dark/settings2-46f3a2cdb020965f5a9f11528764a834.png) no-repeat 12px; }
.iShirt { background: url(/assets/icons/dark/shirt-3e4fe3f46eb6aa52c5b82c28cf33c128.png) no-repeat 12px; }
.iShoppingBag { background: url(/assets/icons/dark/shoppingBag-1f11f177eff46a0ca53755e138b1bf32.png) no-repeat 12px; }
.iShuffle { background: url(/assets/icons/dark/shuffle-4fbdf3594d58ed0e883fb63353c41ade.png) no-repeat 12px; }
.iSignal { background: url(/assets/icons/dark/signal-d8ae880a546a40e1b5308d6ed2efe51c.png) no-repeat 12px; }
.iSignPost { background: url(/assets/icons/dark/signPost-34d4af3d0193d2fa20b7da3e7d95dba5.png) no-repeat 12px; }
.iSkype { background: url(/assets/icons/dark/skype-f46908dc6c13d0aa574d7464d640c265.png) no-repeat 12px; }
.iSmallBrush { background: url(/assets/icons/dark/smallBrush-a2956be9a4e0c6a87537e0b6e808ffd9.png) no-repeat 12px; }
.iSocks { background: url(/assets/icons/dark/socks-cc288ecae8c3358a44bf9360f1a877bd.png) no-repeat 12px; }
.iSound { background: url(/assets/icons/dark/sound-850508ef720ab0c067093e8e9901dd46.png) no-repeat 12px; }
.iSpeech { background: url(/assets/icons/dark/speech-a9b15541e8ca71212ddaf4240e732464.png) no-repeat 12px; }
.iSpeech2 { background: url(/assets/icons/dark/speech2-2678f39f34ca85e073b4812bd9522d05.png) no-repeat 12px; }
.iStar { background: url(/assets/icons/dark/star-4b08c63bfe8ead27e7ea8a287f9b56f9.png) no-repeat 12px; }
.iStats { background: url(/assets/icons/dark/stats-cf1ba7e7ea72883a04f13bb9026f12df.png) no-repeat 12px; }
.iStop { background: url(/assets/icons/dark/stop-af39fac6fb32492160682105127c48e9.png) no-repeat 12px; }
.iStopWatch { background: url(/assets/icons/dark/stopWatch-05b3e436d675587bcbe29df1517f75e2.png) no-repeat 12px; }
.iStrategy { background: url(/assets/icons/dark/strategy-d3dc63fea7fc05060eab81be122ac814.png) no-repeat 12px; }
.iStrategy2 { background: url(/assets/icons/dark/strategy2-4c06a8b095a3efcf002c734b18e60c09.png) no-repeat 12px; }
.iStumble { background: url(/assets/icons/dark/stumble-f47d2094da84e1dba4c7f61e4727b7b7.png) no-repeat 12px; }
.iSuitcase { background: url(/assets/icons/dark/suitcase-824baf30b0a84a5c73810d513b7aa9aa.png) no-repeat 12px; }
.iSwitcher { background: url(/assets/icons/dark/switcher-5e9a4a0fc5d4bd06f8358d0d17a03696.png) no-repeat 12px; }

.iTable { background: url(/assets/icons/dark/table-204b5515689f20629564314d0c20b06c.png) no-repeat 12px; }
.iTag { background: url(/assets/icons/dark/tag-38799c1588a180901fe09480111136fd.png) no-repeat 12px; }
.iTags { background: url(/assets/icons/dark/tags-c6f3058b7f857eb44fb2f695c89d0f36.png) no-repeat 12px; }
.iTimer { background: url(/assets/icons/dark/timer-22795d73284528a9e2d3ee4e510c1d0e.png) no-repeat 12px; }
.iTransfer { background: url(/assets/icons/dark/transfer-d802642edb53a0f21139d497e63ee207.png) no-repeat 12px; }
.iTrash { background: url(/assets/icons/dark/trash-5687e45d958f14c46081913255d13194.png) no-repeat 12px; }
.iTravelSuitcase { background: url(/assets/icons/dark/travelSuitcase-79aabcc3248ee5f1d177b2975e3fe029.png) no-repeat 12px; }
.iTree { background: url(/assets/icons/dark/tree-7128423d22749c8ce1f637ecb75b5d0f.png) no-repeat 12px; }
.iTrolly { background: url(/assets/icons/dark/trolly-1b3813f639411aa6debe947e7aa07039.png) no-repeat 12px; }
.iTruck { background: url(/assets/icons/dark/truck-766f5b43d671c7a30c3486f4c0d4dc95.png) no-repeat 12px; }
.iTumbler { background: url(/assets/icons/dark/tumbler-a447e5acd8f3c41dd139fc3fad1cb50c.png) no-repeat 12px; }
.iTv { background: url(/assets/icons/dark/tv-9a74e6b709578541f66a5b9a0cdb699c.png) no-repeat 12px; }
.iTwitter { background: url(/assets/icons/dark/twitter-a1e77cdf6019409a0ee4a93b84da91d2.png) no-repeat 12px; }
.iTwitter2 { background: url(/assets/icons/dark/twitter2-f34d02e3b9fff49c788b246b2bd0f33c.png) no-repeat 12px; }

.iUmbrella { background: url(/assets/icons/dark/radio-1378a724ca2d0b48c45a720bc717d468.png) no-repeat 12px; }
.iUnderConstruction { background: url(/assets/icons/dark/underConstruction-1dd7875bcd4dd71a9069f6d0fa81f19d.png) no-repeat 12px; }
.iUnlocked { background: url(/assets/icons/dark/unlocked-a7b9a2bd4c4dfc5b190e4155bd622bc2.png) no-repeat 12px; }
.iUpload { background: url(/assets/icons/dark/upload-6f736b2a551a84bf6bb96fcade8cff99.png) no-repeat 12px; }
.iUser { background: url(/assets/icons/dark/user-c01a6b3419b3c91ebc01728c64c604a8.png) no-repeat 12px; }
.iUser2 { background: url(/assets/icons/dark/user2-4bf6ed939082a2012b7d96bd39294ba9.png) no-repeat 12px; }
.iUserComment { background: url(/assets/icons/dark/userComment-3df471e4f4aa7658a18cf398a29d7021.png) no-repeat 12px; }
.iUsers { background: url(/assets/icons/dark/users-b4583c4ef9bb0b111746aca7c325824d.png) no-repeat 12px; }
.iUsers2 { background: url(/assets/icons/dark/users2-0b4702c63e64dce25829a469822f8fba.png) no-repeat 12px; }

.iVault { background: url(/assets/icons/dark/vault-685bdd4040bc4d8984badbc6c153034c.png) no-repeat 12px; }
.iVcard { background: url(/assets/icons/dark/vcard-77071e30e3f12e8a69e8344e571a6450.png) no-repeat 12px; }
.iView { background: url(/assets/icons/dark/view-6ad5c6e481d923e0cb641fd8ab8481d9.png) no-repeat 12px; }
.iVimeo { background: url(/assets/icons/dark/vimeo-7d2795d469c6f195a1d45f83ac20650d.png) no-repeat 12px; }
.iVimeo2 { background: url(/assets/icons/dark/vimeo2-8f6d90862fbc17ba864bf782d39c3f00.png) no-repeat 12px; }

.iWalkingMan { background: url(/assets/icons/dark/walkingMan-7c708409fe946237019f7624245a8d3f.png) no-repeat 12px; }
.iWifi { background: url(/assets/icons/dark/wifi-1a4b16745b1cf2f2b010ffb3a8eb1faf.png) no-repeat 12px; }
.iWifi2 { background: url(/assets/icons/dark/wifi2-a9ce7810d6f3e3dfc2adb5960fea73a8.png) no-repeat 12px; }
.iWindows { background: url(/assets/icons/dark/windows-ac5dd91abddb2e6ffb03b58378682aa5.png) no-repeat 12px; }
.iWordDoc { background: url(/assets/icons/dark/wordDoc-a843e038bb44f7ce2a95708d28d998fd.png) no-repeat 12px; }
.iWordpress { background: url(/assets/icons/dark/wordpress-02228cd249a47a78836de6b056eaa599.png) no-repeat 12px; }
.iWordpress2 { background: url(/assets/icons/dark/wordpress2-b16d2e079efb07a74b9b99398da480f6.png) no-repeat 12px; }

.iYoutube { background: url(/assets/icons/dark/youtube-04aa8b313d4442e2d8dad49004a7b241.png) no-repeat 12px; }

.iZip { background: url(/assets/icons/dark/zip-64d497d0842f72dd7da8a15c1ac84169.png) no-repeat 12px; }
.iZipFiles { background: url(/assets/icons/dark/zipFiles-96db5ab172a34a372d22c4dc701edd47.png) no-repeat 12px; }
