<%content_for :page_title do%>
  Account
<%end%>
<fieldset>
	<div class="widget">
        <div class="head">
        	<h5 class="iCoverflow">Edit your account</h5>
		</div>
		<%= render 'form' %>
	</div>
</fieldset>

