<%content_for :page_title do%>
  The registered alpha testers
<%end%>

<fieldset>
	<div class="widget">
        <div class="head">
        <h5 class="iCoverflow">Users</h5>
	</div>
	<table class="tableStatic">
		<thead>
			<tr>
				<td width="100%">Nickname</td>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			  <tr>
			    	<td><%= user.nickname %><td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</fieldset>

<br />
