<%content_for :page_title do%>
  Account
<%end%>


<fieldset>
	<div class="widget">
        <div class="head">
        <h5 class="iCoverflow">Create your account</h5>
	</div>

<%= render 'form' %>
</fieldset>
