<%content_for :page_title do%>
  Account
<%end%>
<fieldset>
	<div class="widget">
        <div class="head">
        <h5 class="iCoverflow">Your account</h5>
	</div>
<% if notice %><div class="nNote nInformation hideit"><p><%= notice %></p></div><% end %>

<div class="rowElem noborder">
	<b>Nickname:</b>
	<div class="formRight"><%= @user.nickname %></div>
</div>

<div class="rowElem noborder">
	<b>Email:</b>
	<div class="formRight"><%= @user.email %></div>
</div>
<div class="submitForm">
	<%= link_to "Edit your account", edit_user_path(current_user) %>
</div>
</fieldset>
