<%content_for :page_title do%>
  - Your videos
<%end%>
<fieldset>
	<div class="widget">
        <div class="head">
        	<h5 class="iCoverflow">Edit the video</h5>
		</div>

	<%= render 'form' %>
	<%= link_to 'Show', @video %> |
	<%= link_to 'Back', videos_path %>
</div>
</fieldset>