<%content_for :page_title do%>
  - Your videos
<%end%>

<fieldset>
  <div class="widget">  
  	<div class="head">
  		<h5 class="iCoverflow">New video</h5>
  	</div>
	<%= render 'form' %>
	</div>
</fieldset>

<%= link_to 'Back', videos_path %>
