<%content_for :page_title do%>
  - Your videos
<%end%>

<fieldset>
  <div class="widget">  
  	<div class="head">
  		<h5 class="iCoverflow">Video</h5>
  	</div>
<% if notice %><div class="nNote nInformation hideit"><p><%= notice %></p></div><% end %>

<p>
  <b>Name:</b>
  <%= @video.name %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
</div>
</fieldset>