<fieldset>
	<div class="widget">
        <div class="head">
        	<h5 class="iCoverflow">Tutorial</h5>
		</div>
		<div class="body">
			<p>Congratulations, you have created your account!<br/>
				The service isn't available yet, it'll come in a few days, meanwhile you can upload your video files, correctly encoded in <b>Flash Video format (FLV)</b> via a secure FTP connection.<br/>
				This is really easy, you'll only need <a href="https://filezilla-project.org/download.php">FileZilla</a>.<br/>
				Download, install and run it, then click on File - Website Manager - New Website and fill in the following info : <br/>
				<ul>
					<li>Host : 188.165.185.33</li>
					<li>Port : leave it blank</li>
					<li>Protocol : choose SFTP - SSH File Transfer Protocol</li>
					<li>Authentication type : choose normal</li>
					<li>ID : your nickname</li>
					<li>Password : the password you filled in "Desired FTP password" when registering</li>
				</ul><br/>
				And you can click on conncect, you are now connected on the sFTP server.<br/>
				Please upload all your FLV videos to the videos subfolder, have a good time using Bytechain, world's first offline streaming service!
			</p>
		</div>
	</div>
</fieldset>