<fieldset>
  <div class="widget">
    <div class="head">
      <h5 class="iCoverflow">Emitter's properties</h5>
    </div>
	<div class="body">
		<p>In order to create your emitter, please allow antenna to retreive your channel's info on 
			twitch by connecting there
		</p>
		<%= link_to image_tag("connect_dark.png"), @twitch_login_url%>
	</div>
  </div>
</fieldset>
