<fieldset>
	<div class="widget">
	    <div class="head">
	      <h5 class="iCoverflow">Editing the playlist</h5>
	    </div>
		<%= render 'form' %>

		<%= link_to 'Show', @emitter %> |
		<%= link_to 'Back', emitters_path %>
	</div>
</fieldset>
