<fieldset>
	<div class="widget">
	    <div class="head">
	      <h5 class="iCoverflow">Creating a playlist</h5>
	    </div>
		<%= render 'form' %>

		<%= link_to 'Show', @emitter , :class => "btn btn-primary"%> |
		<%= link_to 'Back', emitters_path , :class => "btn btn-primary"%>
	</div>
</fieldset>
